#!/bin/sh
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos")) }}
  # install fish

  # install yay
  #sudo pacman -S --needed git base-devel && git clone https://aur.archlinux.org/yay.git && cd yay && makepkg -si

  # install from official arch repo
  #sudo pacman -S fish neovim tmux foot

  # install AUR packages
  #yay -S asdf-vm

{{ else if eq .chezmoi.os "macos" }}
  # TODO: add macos install

{{ end }}

# set fish as default shell
echo /usr/local/bin/fish | sudo tee -a /etc/shells
chsh -s /usr/local/bin/fish

# install fisher package manager
curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher

# install tide fish prompt via fisher
fisher install IlanCosman/tide@v6
