#!/bin/sh
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos")) }}
  # install yay
  sudo pacman -S --needed --noconfirm git base-devel
  git clone https://aur.archlinux.org/yay.git
  cd yay
  yes | makepkg -si

  # install from official arch repo
  sudo pacman -S --noconfirm fish neovim tmux foot

  # install AUR packages
  yes | yay -S asdf-vm

{{ else if eq .chezmoi.os "macos" }}
  # TODO: add macos install

{{ end }}

cd ~
exec fish

# install fisher package manager
curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher

# install tide fish prompt via fisher
fisher install IlanCosman/tide
